html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="/images/favicon.png")
        link(rel="stylesheet", href="/CSS/users.css")
        title Users

    body
        div#head
            a(href="/") Home
            a(href="/users") Users
            if (session.loggedin)
                a(href="/orderform") Order Form 
                a(href="/users/" + session.userId) Profile
                a(href="/logout") Logout
            else 
                a(href="/login") Login
                a(href="/register") Register
        br
        div#users
            each user in users 
                a(href="/users/" + user._id) #{user.username}
                br
                br