#head {
    background-color: black;
    text-align: center;
    padding: 0.5%;
}

body {
    background-color:cornflowerblue;
}

#head a {
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 5%;
}

label {
    font-size: 22px;
}

button {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

#orderHistory a {
    font-weight: bold;
    font-size: 22px;
    color: black;
}
